div .homeContainer{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    align-items: center;
}

.background
{
    position: fixed;
    margin-top: 0px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    filter: brightness(0.2);
}

.p-button
{
    display:flexbox;
    justify-content: center;
    margin: 20px;
    opacity: 1;
    z-index: 10;
    background-color: rgb(135, 199, 135);
}

#appTitle
{
    z-index: 10;
    opacity: 1;
    font-size: 50px;
    background: none;
    position: relative;
    margin-top: 60vh;
    margin-bottom: 0px;
    justify-content: center;
    color: rgb(135, 199, 135);
}

#appSubtitle
{
    z-index: 10;
    opacity: 1;
    font-size: 30px;
    background: none;
    position: relative;
    margin-top: 0.5vh;
    justify-content: center;
    color: rgb(135, 199, 135);
}